 <!--<app-google-login></app-google-login>-->
<!--<app-fb-login></app-fb-login>-->
<!--<app-linkedin></app-linkedin>-->
<!--<lib-angular-social-login-buttons></lib-angular-social-login-buttons>-->
<h1 class="title">Angular Social Login Buttons </h1>
<lib-fb-login></lib-fb-login>
<lib-google-login></lib-google-login>
<lib-linkedin-login></lib-linkedin-login>
<router-outlet></router-outlet>

<footer class="bottom">Developed by <a href="https://juda-landing-cv.herokuapp.com"> Juda Buchahda</a> </footer>